body{
	text-align: center;
	background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

progress[value] {
  width: 70%;
  height: 5px;
}


.topbar {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00B991;
  overflow-x: hidden;
  padding-top: 0px;
  transition: 0.5s;
}


.topbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}


.openbtn:hover {
  background-color: #444;
}


#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

.idkman {
  height: 0;
  width: 100%;
}

@media screen and (min-width: 801px) {
	div.topbar {
		display:  flex;
		flex-wrap: wrap;
		align-items: start;
		justify-content: center;
		flex-direction: row;
	}
}

@media screen and (max-width: 800px) {
	div.topbar {
		display:  flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
	}
}


#countdowndiv, #clockdiv, #endzeitdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#countdowndiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#endzeitdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#countdowndiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

#endzeitdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}